body {
  background: #b3b4b8;
}
.my-center {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: .8rem;
  color: white;
}

.error {
  font-weight: bold;
}

.color-red {
  color: red;
}

.color-white {
  color: white;
}

.background-color-white {
  background-color: white;
}

nav {
  background-color: rgb(51, 62, 84) !important;
}

a {
  color: white !important;
}

a:hover {
  color: yellow !important;
}

.active {
  text-decoration: underline !important;
}

.not-active {
  text-decoration: none !important;
}